.advantage {
  margin-bottom: 40px;
  background-color: $secondary-bg-color;
  overflow: hidden;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 -67px;
  background-repeat: no-repeat;
}

.advantage__list {
  padding-top: 70px;
  padding-bottom: 287px;
  list-style: none;
  text-align: center;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 109%;
  background-repeat: no-repeat;
}

.advantage__effect {
  display: none;
}

.advantage__title {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 10px;
}

.advantage__text {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 31px;
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .advantage {
    background-image: url("../img/bg-triangle-white.svg"), linear-gradient(to bottom, $secondary-bg-color 501px, $main-bg-color 501px);
    background-position: 0 -26px, 0 0;
  }

  .advantage__list {
    padding-top: 105px;
    padding-bottom: 6px;
    text-align: left;
    background-position: 20px 200px;
  }

  .advantage__item {
    width: 315px;
    margin-left: 309px;
    margin-bottom: 35px;
  }

  .advantage__effect {
    position: relative;
    display: block;
    width: 660px;
    margin: 0 auto;
    padding-top: 55px;
    padding-right: 30px;
    padding-bottom: 67px;
    padding-left: 329px;
    box-sizing: border-box;

    &::before {
      content: url("../img/clock.png");
      position: absolute;
      width: 238px;
      height: 276px;
      top: 59px;
      left: 21px;
    }
  }


  .advantage__effect .advantage__text {
    margin-bottom: 5px;
  }

  .advantage__title--effect {
    width: 170px;
    font-family: $font-open-sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .advantage__link {
    padding-bottom: 105px;
    color: $main-color;
    text-decoration: underline;
    outline: none;
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .advantage {
    background-image: url("../img/bg-triangle-white.svg"), none;
    background-position: 0% 0%;
  }

  .advantage__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-image: none;
    padding-top: 54px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .advantage__item {
    width: 240px;
    margin-left: 0;
    padding-top: 350px;
    padding-left: 20px;
    padding-right: 20px;

    &--mood {
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-position: 50% 0%;
      background-repeat: no-repeat;
    }

    &--world {
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-position: 50% 0%;
      background-repeat: no-repeat;
    }

    &--friends {
      background-image: url("../img/iphone-screen-mobile@1x.png");
      background-position: 50% 0%;
      background-repeat: no-repeat;
    }
  }

  .advantage__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .advantage__text {
    margin-top: 23px;
    font-size: 18px;
    line-height: 30px;
  }

  .advantage__effect {
    width: 940px;
    padding-left: 365px;
    padding-top: 30px;
    padding-bottom: 110px;
    padding-right: 45px;
  }

  .advantage__title--effect {
    width: 300px;
  }

  .advantage__effect .advantage__text {
    margin-bottom: 32px;
  }

  .advantage__link {
    font-size: 18px;
    line-height: 30px;
  }
}
