.advantage {
  margin-bottom: 40px;
  padding-bottom: 300px;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 110%;
  background-repeat: no-repeat;
}

.advantage__list {
  padding-top: 40px;
  list-style: none;
  text-align: center;
}

.advantage__title {
  font-family: $font-open-sans-bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantage__text {
  font-family: $font-open-sans;
  font-size: 14px;
  line-height: 24px;
}
