.btn-submit {
  display: block;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $font-open-sans-bold;
  font-size: 18px;
  line-height: 30px;
  background-color: $btn-submin-color;
  color: $secondary-text-color;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}
