.btn {
  display: block;
  font-family: $font-open-sans;
  line-height: 18px;
  font-weight: 700;
  font-size: 18px;
  color: $secondary-text-color;
  text-align: center;
  width: 280px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
}

/*--TABLET--*/

@media (min-width: $tablet-width) {
  .btn {
    width: 300px;
/*     padding: 18px 15px; */
  }
}

/*--DESKTOP--*/

@media (min-width: $desktop-width) {
  .btn {
    font-size: 21px;
    line-height: 18px;
/*     padding: 18px 15px; */
  }
}
