.btn {
display: block;
width: 280px;
padding-top: 12px;
padding-bottom: 12px;
font-family: $font-open-sans-bold;
font-size: 18px;
color: $secondary-text-color;
text-align: center;
border: 3px solid #ffffff;
box-sizing: border-box;
border-radius: 30px;
}
