.contacts {
  background-color: $main-bg-color;
  text-align: center;
}

.contacts__title {
  margin-bottom: 30px;
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
}

.contacts__list {
  padding-bottom: 50px;
  padding-left: 0;
  list-style: none;
}

.contacts__text {
  margin-bottom: 5px;
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__type {
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
  color: $main-color;
}

.contacts__map {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: $secondary-bg-color;
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .contacts__title {
    width: 375px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
  }

  .contacts__item {
    width: 250px;
    margin-bottom: 20px;
  }

  .contacts__map {
    height: 375px;
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .contacts__item--address {
    order: 1;
  }

  .contacts__map {
    height: 505px;
  }
}
