.contacts {
  position: relative;
  background-color: $main-bg-color;
  text-align: center;

  &::before {
    display: block;
    top: 0;
    right: 0;
    width: 300px;
    height: 30px;
  }
}

.contacts__title {
  margin-bottom: 28px;
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;

  &--phone {
    font-size: 20px;
    margin-bottom: 0;
  }

  &--email {
    font-size: 20px;
    margin-bottom: 0;
  }

  &--address {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.contacts__list {
  padding-bottom: 25px;
  padding-left: 0;
  list-style: none;

  &::before {
    display: block;
    top: 250px;
    right: 140px;
    width: 300px;
    height: 30px;
  }
}

.contacts__item {
  margin-bottom: 0;

  &--email {
    margin-bottom: 20px;
  }
}

/* .contacts__title--phone {
    font-size: 20px;
    margin-bottom: 0;
} */

/* .contacts__title--email {
  font-size: 20px;
  margin-bottom: 0;
} */

/* .contacts__title--address {
  font-size: 20px;
  margin-bottom: 0;
} */

.contacts__text {
  margin-bottom: 0;
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__type {
  display: inline-block;
  vertical-align: top;
  /*   padding-top: 4px; */
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: $main-color;
}

.contacts__item--email .contacts__type {
  cursor: pointer;

  &:hover {
    color: $secondary-color;
    text-decoration: underline;
  }

  &:focus {
    color: $secondary-color;
    text-decoration: underline;
    outline: none;
  }

  &:active {
    color: $secondary-color;
    opacity: 0.3;
    outline: none;
  }
}

.contacts__map {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: $secondary-bg-color;
  background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.png");
  background-position: 50% 0%, 50% 100%;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    content: url("../img/icon-map-marker.svg");
    position: absolute;
    display: block;
    top: 95px;
    left: 45.5%;
  }
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 4px;
  }

  .contacts__title {
    width: 380px;
    font-size: 39px;
    line-height: 48px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;

    &--phone {
      font-size: 18px;
      font-weight: 700;
      width: 90px;
      margin-bottom: -7px;
      margin-top: 6px;
    }

    &--email {
      font-size: 18px;
      font-weight: 700;
      width: 90px;
      margin-bottom: -7px;
      margin-top: 6px;
    }

    &--address {
      font-size: 18px;
      font-weight: 700;
      width: 200px;
      margin-top: 3px;
      margin-bottom: -5px;
    }
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  .contacts__item {
    width: 300px;
    margin-bottom: 30px;
  }

  .contacts__item--address {
    width: 295px;
    margin: 0 auto;
    /*     margin-bottom: -5px; */
  }

  .contacts__text {
    margin-bottom: 2px;
  }

  .contacts__type {
    font-size: 24px;
    line-height: 30px;
  }

  .contacts__map {
    height: 374px;
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-position: 50% 0%, 50% 73.5%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@2x.jpg");
    }

    &::before {
      top: 194px;
      left: 47.5%;
    }
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 12px;
    padding-left: 13px;
  }

  .contacts__title {
    width: 500px;
    margin-bottom: 35px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0;


    &--phone {
      font-size: 18px;
      font-weight: 700;
      width: 250px;
      margin-left: 10px;
    }

    &--email {
      font-size: 18px;
      font-weight: 700;
      width: 250px;
      margin-left: 10px;
    }

    &--address {
      font-size: 18px;
      font-weight: 700;
      width: 250px;
      margin-left: 10px;
    }
  }

  .contacts__list {
    margin-bottom: 20px;
  }

  .contacts__item--email {
    order: 1;
  }

  .contacts__item--address {
    padding-right: 3px;
  }

  .contacts__text {
    margin-bottom: 20px;
  }

  .contacts__type {
    line-height: 28px;
  }

  .contacts__map {
    height: 503px;
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-position: 50% 0%, 50% 56%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      top: 265px;
      left: 48%;
    }
  }
}
