.form {
  margin-bottom: 15px;
}

.form__item {
  &--full-name {
    padding-bottom: 23px;
  }

  &--full-name input[type="text"] {
    width: 280px;
    min-height: 62px;
    margin-top: 5px;
    margin-bottom: 18px;
    padding: 13px 20px;
    font-family: $font-open-sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;
    box-sizing: border-box;
    border: 2px solid $border-color;
    border-radius: 2px;

    &:hover {
      border: 2px solid $secondary-color;
    }

    &:focus {
      border: 2px solid $main-color;
      outline: none;
    }

    &:active {
      border: 2px solid $main-color;
      outline: none;
    }
  }

  &--full-name input[type="text"]::-webkit-input-placeholder {
    color: $main-text-color;
  }

  &--full-name input[type="text"]::-moz-placeholder {
    color: $main-text-color;
    opacity: 1;
  }

  &--full-name input[type="text"]:-moz-placeholder {
    color: $main-text-color;
  }

  &--full-name input[type="text"]:-ms-input-placeholder {
    color: $main-text-color;
  }

  &--checkbox {
    padding-top: 40px;
    padding-bottom: 2px;
    background-color: $secondary-bg-color;
  }

  &--contacts {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &--contacts input[type="tel"] {
    width: 280px;
    margin-top: 5px;
    margin-bottom: 18px;
    min-height: 62px;
    padding: 13px 20px;
    font-family: $font-open-sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;
    box-sizing: border-box;
    border: 2px solid $border-color;
    border-radius: 2px;

    &:hover {
      border: 2px solid $secondary-color;
    }

    &:focus {
      border: 2px solid $main-color;
      outline: none;
    }

    &:active {
      border: 2px solid $main-color;
      outline: none;
    }
  }

  &--contacts input[type="tel"]::-webkit-input-placeholder {
    color: $main-text-color;
  }

  &--contacts input[type="tel"]::-moz-placeholder {
    color: $main-text-color;
    opacity: 1;
  }

  &--contacts input[type="tel"]:-moz-placeholder {
    color: $main-text-color;
  }

  &--contacts input[type="tel"]:-ms-input-placeholder {
    color: $main-text-color;
  }

  &--contacts input[type="email"] {
    width: 280px;
    min-height: 62px;
    margin-top: 5px;
    margin-bottom: 18px;
    padding: 13px 20px;
    font-family: $font-open-sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $main-text-color;
    box-sizing: border-box;
    border: 2px solid $border-color;
    border-radius: 2px;

    &:hover {
      border: 2px solid $secondary-color;
    }

    &:focus {
      border: 2px solid $main-color;
      outline: none;
    }

    &:active {
      border: 2px solid $main-color;
      outline: none;
    }
  }

  &--contacts input[type="email"]::-webkit-input-placeholder {
    color: $main-text-color;
  }

  &--contacts input[type="email"]::-moz-placeholder {
    color: $main-text-color;
    opacity: 1;
  }

  &--contacts input[type="email"]:-moz-placeholder {
    color: $main-text-color;
  }

  &--contacts input[type="email"]:-ms-input-placeholder {
    color: $main-text-color;
  }

  &--app {
    padding-top: 38px;
    padding-bottom: 20px;
    background-color: $secondary-bg-color;
  }

  &--textarea {
    min-height: 244px;
    padding-top: 40px;
    padding-bottom: 39px;
  }
}

.form__text {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
  text-transform: uppercase;
  margin-left: 22px;
}

.form__title {
  width: 250px;
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 18px;

  &--mobile-hidden {
    display: none;
  }
}

.form__item--checkbox .form__title {
  margin-bottom: 38px;
}

.form__checkbox {
  display: block;
  position: relative;
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $main-text-color;
  width: 285px;
  padding-left: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 42px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: $main-bg-color;
    border: 2px solid $border-color;
    border-radius: 2px;
    cursor: pointer;
  }

  &:hover::before {
    border: 2px solid $secondary-color;
  }

  &:active::before {
    border: 2px solid $main-color;
  }
}

input[type="checkbox"]:focus + .form__checkbox::before {
  border: 2px solid $main-color;
}

input[type="checkbox"]:checked + .form__checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled + .form__checkbox::before {
  opacity: 0.5;
}

input[type="checkbox"]:disabled + .form__checkbox {
  opacity: 0.5;
}

input[type="checkbox"]:checked:disabled + .form__checkbox::before {
  opacity: 0.5;
}

input[type="checkbox"]:checked:disabled + .form__checkbox {
  opacity: 0.5;
}

.form__radio {
  display: block;
  position: relative;
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 210px;
  color: $main-text-color;
  padding-left: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 35px;
    height: 35px;
    background-color: $main-bg-color;
    border: 2px solid $border-color;
    border-radius: 50%;
    cursor: pointer;
  }

  &:hover::before {
    border: 2px solid $secondary-color;
  }

  &:active::before {
    border: 2px solid $main-color;
  }
}

input[type="radio"]:focus + .form__radio::before {
  border: 2px solid $main-color;
}

input[type="radio"]:checked + .form__radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

input[type="radio"]:disabled + .form__radio::before {
  opacity: 0.5;
}

input[type="radio"]:disabled + .form__radio {
  opacity: 0.5;
}

input[type="radio"]:checked:disabled + .form__radio::before {
  opacity: 0.5;
}

input[type="radio"]:checked:disabled + .form__radio {
  opacity: 0.5;
}

.form__item--textarea .form__title {
  margin-bottom: 15px;
}

.form__textarea {
  width: 280px;
  height: 200px;
  box-sizing: border-box;
  padding: 14px 18px;
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $main-text-color;
  border: 2px solid $border-color;
  border-radius: 2px;
  resize: vertical;

  &:hover {
    border: 2px solid $secondary-color;
  }

  &:focus {
    border: 2px solid $main-color;
    outline: none;
  }

  &:active {
    border: 2px solid $main-color;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: $main-text-color;
  }

  &::-moz-placeholder {
    color: $main-text-color;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $main-text-color;
  }

  &:-ms-input-placeholder {
    color: $main-text-color;
  }
}

.form__inner {
  text-align: center;
}

.form__btn {
  margin-bottom: 36px;
}

.form__note {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $main-text-color;
  text-transform: uppercase;

  &--desktop {
    display: none;
  }
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  .form__title {
    width: auto;

    &--mobile-hidden {
      display: block;
    }
  }

  .form__text {
    margin-left: 0;
  }

  .form__item--border .container {
    box-sizing: border-box;
    border: 2px solid $border-color;
    border-radius: 2px;
  }

  .form__item--full-name {
    margin-bottom: 0;
    padding-bottom: 0;
    order: 1;
  }

  .form__item--full-name .container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3px;
  }

  .form__item--full-name .form__field--full-name {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin-bottom: 0;
  }

  .form__item--full-name input[type="text"] {
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 47px;
    padding: 13px 18px;
  }

  .form__item--full-name .form__text {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 21px;
    margin-right: 20px;
  }

  .form__item--app {
    order: 2;
    background-color: $main-bg-color;
    margin: 0;
    padding: 0;
  }

  .form__item--app .container {
    margin-top: -30px;
    padding-top: 18px;
    padding-bottom: 33px;
    padding-left: 58px;
    padding-right: 60px;
    width: 620px;
  }

  .form__item--app .form__title {
    position: relative;
    width: 370px;
    margin-top: 10px;
    z-index: 1;
    background-color: $main-bg-color;
  }

  .form__radio {
    padding-left: 59px;
  }

  .form__item--contacts {
    order: 3;
  }

  .form__item--contacts .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -10px;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 80px;
    width: 621px;
  }

  .form__item--contacts .form__title {
    position: relative;
    width: 260px;
    margin-top: 28px;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 1;
    background-color: $main-bg-color;
  }

  .form__field--contacts .form__field--icon::after {
    position: absolute;
    display: block;
    top: 7px;
    width: 62px;
    height: 58px;
    left: 436px;
    padding-top: 19px;
    padding-left: 22px;
    box-sizing: content-box;
    background-color: #e5e5e5;
  }

  .form__item--contacts .form__field--phone {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      content: url("../img/icon-phone.svg");
      position: absolute;
      display: block;
      top: 7px;
      width: 39px;
      height: 39px;
      left: 436px;
      padding-top: 19px;
      padding-left: 22px;
      box-sizing: content-box;
      background-color: #e5e5e5;
    }
  }

  .form__item--contacts .form__field--email {
    display: flex;
    position: relative;
    flex-direction: column;

    &::after {
      content: url("../img/icon-mail.svg");
      position: absolute;
      display: block;
      top: 7px;
      width: 40px;
      height: 40px;
      left: 436px;
      padding-top: 19px;
      padding-left: 22px;
      box-sizing: content-box;
      background-color: #e5e5e5;
    }
  }

  .form__item--contacts .form__text {
    order: 3;
    margin-bottom: 24px;
    padding-left: 17px;
  }

  .form__item--contacts input[type="email"] {
    min-width: 500px;
    order: -3;
    margin-bottom: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
  }

  .form__item--contacts input[type="tel"] {
    min-width: 500px;
    margin-bottom: 11px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
  }

  .form__item--checkbox {
    order: 4;
    background-color: $main-bg-color;
  }

  .form__item--checkbox .container {
    margin-top: -10px;
    // margin-left: 20px;
    padding-top: 52px;
    padding-bottom: 5px;
    padding-left: 58px;
    padding-right: 60px;
    width: 620px;
  }

  .form__item--checkbox .form__title {
    position: relative;
    width: 435px;
    margin-top: -6px;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 1;
    background-color: $main-bg-color;
  }

  .form__checkbox {
    padding-left: 58px;
  }

  .form__item--textarea {
    order: 5;
    margin: 0 auto;
    margin-bottom: 27px;
  }

  .form__item--textarea .container {
    min-height: 294px;
    margin-top: -27px;
    padding-top: 45px;
    padding-bottom: 41px;
    padding-left: 60px;
    padding-right: 60px;
    width: 623px;
  }

  .form__item--textarea .form__title {
    position: relative;
    width: 255px;
    margin-top: 17px;
    z-index: 1;
    background-color: $main-bg-color;
  }

  .form__textarea {
    width: 500px;
    height: 193px;
    margin: 0 auto;
    padding-top: 14px;
    padding-left: 17px;
  }

  .form__inner {
    display: flex;
    order: 6;
  }

  .form__btn {
    margin-right: auto;
    width: 300px;
    padding-bottom: 17px;
  }

  .form__note {
    margin-top: 18px;

    &--star {
      padding-right: 2px;
      color: $main-color;
    }
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }

  .form__item--border {
    width: 100%;
  }

  .form__item--full-name {
    margin-bottom: 0;
  }

  .form__item--full-name .container {
    width: 445px;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .form__item--full-name .form__text {
    margin-top: 22px;
    margin-right: 18px;
  }

  .form__item--full-name .form__field--full-name {
    margin-bottom: 49px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__item--full-name input[type="text"] {
    margin-bottom: 0;
    padding-left: 22px;
  }

  .form__item--app {
    width: 436px;
    margin-bottom: 27px;
    padding: 0;
  }

  .form__item--app .container {
    padding-top: 20px;
    padding-left: 75px;
    width: 436px;
  }

  .form__item--contacts {
    margin-bottom: 0;
    width: 100%;
  }

  .form__item--contacts .container {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 38px;
    padding-left: 57px;
    padding-bottom: 12px;
    padding-right: 60px;
    width: 100%;
  }

  .form__item--contacts .form__title {
    margin-top: 0;
  }

  .form__item--contacts .form__field::after {
    left: 312px;
    width: 39px;
    height: 39px;
  }

  // .form__item--contacts .form__field--email {
  //   &::after {
  //   }
  // }

  .form__item--contacts input[type="tel"] {
    min-width: 375px;
    padding-left: 20px;
  }

  .form__item--contacts input[type="email"] {
    min-width: 375px;
    padding-left: 20px;
  }

  .form__item--contacts .form__text {
    padding-left: 21px;
    margin-bottom: 0;
  }

  .form__item--checkbox {
    padding-top: 38px;
    width: 100%;
  }

  .form__item--checkbox .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 12px;
    padding-left: 57px;
    padding-right: 8px;
    width: 940px;
    margin-left: 0;
  }

  .form__field--checkbox {
    width: 260px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
      margin-left: 20px;
    }

    &:nth-child(4) {
      order: 5;
      margin-left: 20px;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }

  .form__checkbox {
    padding-left: 60px;
    width: 260px;
  }

  .form__item--textarea {
    min-height: auto;
    margin-bottom: 25px;
    width: 100%;
  }

  .form__item--textarea .container {
    min-height: 217px;
    padding-top: 42px;
    padding-left: 58px;
    padding-bottom: 33px;
    width: 940px;
  }

  .form__textarea {
    height: 128px;
    padding-left: 18px;
    width: 100%;
  }

  .form__inner {
    padding-left: 0;
    padding-right: 0;
  }

  .form__btn {
    margin-bottom: 0;
  }

  .form__note {
    &--star {
      margin-right: 3px;
    }

    &--desktop {
      display: inline;
    }
  }

  .social {
    margin-left: 33px;
  }
}
