.information__wrapper {
  margin-bottom: 30px;
}

.information__title {
  font-family: $font-open-sans;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  margin-bottom: 26px;
}


/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .information__wrapper {
    width: 590px;
  }

  .information__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 48px;

    &:nth-child(2) {
      width: 335px;
      margin: 0 auto;
    }
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .information__wrapper {
    min-width: 940px;
  }

  .information__title {
    font-size: 50px;
    line-height: 60px;

    &:nth-child(2) {
      width: 420px;
      margin: 0 auto;
    }
  }
}
