.intro {
  min-height: 238px;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;

  &--index {
    position: relative;
    min-height: 450px;
    margin-bottom: 35px;
  }
}

.intro__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  &--index {
    width: 280px;
    margin: 0 auto;
    padding-top: 500px;
    padding-bottom: 30px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 176px;
    background-repeat: no-repeat;
  }
}

.intro__btn {
  margin-bottom: 30px;
}

.intro__list {
  display: flex;
  justify-content: space-around;
}

.intro__item {
  display: block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.intro__title {
  font-family: $font-open-sans-light;
  font-size: 24px;
  line-height: 30px;
  color: $secondary-text-color;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.intro__text {
  font-family: $font-open-sans-light;
  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
  text-align: center;
  letter-spacing: 1.4px;
}
