.intro {
  min-height: 238px;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;

  &--index {
    min-height: 450px;
    margin-bottom: 35px;
    background-image: url("../img/bg-back-mobile-index@1x.jpg");
    background-position: 50% 0%;
    background-repeat: no-repeat;
  }
}

.intro__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  &--index {
    padding-top: 500px;
    padding-bottom: 30px;
;
  }
}

.intro__btn {
  margin-bottom: 30px;
}

.intro__list {
  display: flex;
  justify-content: space-around;
}

.intro__item {
  display: block;
  width: 60px;
  height: 60px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--apple {
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    background-image: url("../img/logo-android.svg");
  }

  &--windows {
    background-image: url("../img/logo-microsoft.svg");
  }
}

.intro__title {
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
  color: $secondary-text-color;
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.intro--index .intro__title {
  display: none;
}

.intro__text {
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
  text-align: center;
  letter-spacing: 1.4px;
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .intro {
    min-height: 440px;
    margin-bottom: 90px;

    &--index {
      min-height: 730px;
      margin-bottom: 50px;
      background-image: url("../img/bg-back-tablet-index@1x.jpg");
      background-position: 50% 100%;
      background-repeat: no-repeat;
    }
  }

  .intro__wrapper {
    width: 490px;
    padding-top: 50px;

    &--index {
      width: 320px;
      padding-top: 100px;
      padding-left: 0;
      padding-right: 300px;
    }
  }

  .intro__title {
  padding-top: 150px;
  font-size: 40px;
  line-height: 50px;
}

.intro--index .intro__title {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 100px;
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .intro {
    min-height: 395px;
    margin-top: 0;


    &--index {
      min-height: 853px;
      background-image: url("../img/bg-back-desktop-index@1x.jpg");
      background-position: 50% 0;
      background-repeat: no-repeat;
    }
  }

  .intro__wrapper {
    padding-top: 0;

    &--index {
      padding-top: 450px;
    }
  }

  .intro__title {
    font-size: 50px;
    line-height: 60px;
  }

  .intro--index .intro__title {
    display: none;
  }
  .intro__text {
  display: none;
  }
 }
