.modal {
  display: none;
  position: fixed;
  width: 320px;
  text-align: center;
  background-color: $main-bg-color;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  margin: 0;
  z-index: 20;

  &--error {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    padding-bottom: 50px;
  }

  &--success {
    padding-bottom: 0;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
}

.modal__title {
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.modal__text {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $main-text-color;
  margin-bottom: 35px;
}

.modal__inner {
  background-color: $secondary-bg-color;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal__btn {
  cursor: pointer;

  &--success {
    margin: 0 auto;
  }
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .modal {
    width: 460px;
  }

  .modal .container {
    width: 310px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 40px;
  }

  .modal__text {
    font-size: 18px;
    line-height: 24px;
  }

  .modal__btn {
    margin: 0 auto;
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .modal--success {
    width: 780px;
  }

  .modal--success .container {
    width: 400px;
  }

  .modal__btn--success {
    width: 460px;
  }
}
