.page-header {
  background-color: $secondary-color;
  color: $secondary-text-color;
  margin-bottom: 0;
}

.page-header__logo {
  display: block;
  width: 80px;
  height: 25px;
  padding: 11px 20px;
}
