.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  &--index {
    display: none;
  }
}

.page-footer__logo {
  width: 150px;
  margin-left: 3px;
  margin-bottom: 40px;
  outline: none;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.page-footer__link {
  min-height: 40px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 30px 35px;
  outline: none;
}

.page-footer__note {
  font-family: $font-open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $main-text-color;
  margin-right: 45px;
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding-top: 33px;
    margin: 0 auto;
  }

  .page-footer__logo {
    margin-bottom: 50px;
    margin-left: 0;
  }

  .page-footer__copyright {
    margin-bottom: 20px;
    padding-left: 22px;
  }

  .page-footer__note {
    margin-right: 42px;
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
    padding-top: 67px;
    padding-bottom: 33px;
  }

  .page-footer__logo {
    padding-right: 26px;
  }

  .page-footer__copyright {
    padding-left: 15px;
  }

  .page-footer__note {
    font-size: 18px;
    line-height: 18px;
  }
}
