.photo {
  margin-top: 40px;
  margin-bottom: 50px;
}

.photo__info {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 250px;
  text-align: center;
}


/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .photo__info {
    width: 445px;
    margin-bottom: 90px;
    font-size: 18px;
    line-height: 30px;
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .photo__info {
    width: 575px;
  }
}
