.price {
  background-color: $secondary-bg-color;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.price__list {
  width: 840px;
  transform: translateX(-260px);
  text-transform: uppercase;
  border-collapse: collapse;
}

.price__header {
  padding-bottom: 15px;
  color: $secondary-text-color;
  background-color: $secondary-color;
  border: 2px solid $border-color;

  &--mobile-hidden {
    display: none;
  }
}

.price__name {
  margin-bottom: 5px;
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.price__value {
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
}

.price__bottom {
  background-color: $main-bg-color;
}

.price__cell {
  border: 2px solid #e5e5e5;
  padding: 15px 20px;

  &--yes {
    background-image: url("../img/icon-yes.svg");
    background-position: 93% 50%;
    background-repeat: no-repeat;
  }

  &--no {
    background-image: url("../img/icon-no.svg");
    background-position: 93% 50%;
    background-repeat: no-repeat;
  }

  &--mobile-hidden {
    display: none;
  }
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .price {
    width: 100%;
  }

  .price__list {
    width: 620px;
    margin: 0 auto;
    transform: none;
    text-transform: none;
    empty-cells: hide;
  }

  .price__header {
    padding-top: 0;
    padding-bottom: 0;

    &--mobile-hidden {
      display: block;
      border: none;
      background-color: transparent;
    }
  }

  .price__name {
    margin-bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
  }

  .price__value {
    font-size: 18px;
  }

  .price__cell {
    min-width: 155px;
    box-sizing: border-box;
    padding: 7px 15px;

    &--yes {
      font-size: 0;
      background-position: 50% 50%;
    }

    &--no {
      font-size: 0;
      background-position: 50% 50%;
    }

    &--mobile-hidden {
      display: table-cell;
    }
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .price__list {
    width: 940px;
  }
}
