.price {
  background-color: $secondary-bg-color;
  overflow: hidden;
  margin-bottom: 50px;
  padding-top: 130px;
  padding-bottom: 55px;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 -27px;
  background-repeat: no-repeat;
}

.price__controls {
  display: flex;
  justify-content: space-between;
  order: 3;
  width: 65px;
  margin: 40px auto -17px;
}

.price__label {
  display: inline-block;
  vertical-align: top;
  width: 13px;
  height: 13px;
  background-color: $secondary-color;
  opacity: 0.3;
  border: 3px solid $secondary-bg-color;
  border-radius: 50%;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

input[type="radio"]:focus + .price__label {
  opacity: 0.6;
  outline: none;
}

.price__toggle--1:checked ~ .price__controls [for="price-1"] {
  background-color: $main-bg-color;
  border: 3px solid $secondary-color;
  opacity: 1;
}

.price__toggle--2:checked ~ .price__controls [for="price-2"] {
  background-color: $main-bg-color;
  border: 3px solid $secondary-color;
  opacity: 1;
}

.price__toggle--3:checked ~ .price__controls [for="price-3"] {
  background-color: $main-bg-color;
  border: 3px solid $secondary-color;
  opacity: 1;
}

.price__list {
  width: 837px;
  text-transform: uppercase;
  border-collapse: collapse;
  transition: transform 0.5s ease;
}

.price__toggle--1:checked ~ .price__list {
  transform: translateX(20px);
}

.price__toggle--2:checked ~ .price__list {
  transform: translateX(-258px);
}

.price__toggle--3:checked ~ .price__list {
  transform: translateX(-540px);
}

.price__header {
  padding-bottom: 16px;
  color: $secondary-text-color;
  background-color: $secondary-color;
  border: 2px solid $secondary-bg-color;
  border-bottom: none;

  &--mobile-hidden {
    display: none;
  }

  &--base {
    border-left: 1px solid $secondary-color;
  }

  &--unlim {
    border-right: 1px solid $secondary-color;
  }
}

.price__header--hit {
  position: relative;

  &::before {
    content: url("../img/bg-hit.svg");
    position: absolute;
    display: block;
    top: 0;
    left: -2px;
  }

  &::after {
    content: "хит";
    position: absolute;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: $secondary-text-color;
    top: 12px;
    left: 9px;
    text-transform: uppercase;
    transform: rotate(-45deg);
  }
}

.price__name {
  margin-top: 15px;
  margin-bottom: 2px;
  font-family: $font-open-sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.price__value {
  font-family: $font-open-sans;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
}

.price__bottom {
  background-color: $main-bg-color;
}

.price__cell {
  border: 2px solid #e5e5e5;
  padding: 15px 22px 14px;

  &--yes {
    background-image: url("../img/icon-yes-table.svg");
    background-position: 225px 18px;
    background-repeat: no-repeat;
    background-size: 40px 23px;
  }

  &--no {
    background-image: url("../img/icon-no.svg");
    background-position: 231px 15px;
    background-repeat: no-repeat;
  }

  &--mobile-hidden {
    display: none;
  }
}

.price__row:first-child .price__cell {
  border-top: none;
}

/*--tablet mode--*/

@media (min-width: $tablet-width) {
  .price {
    width: 100%;
    padding-top: 108px;
    padding-bottom: 60px;
    background-position: 0 -22px;
  }

  .price__controls {
    display: none;
  }

  .price__list {
    width: 620px;
    margin: 0 auto;
    text-transform: none;
    empty-cells: hide;
  }

  .price__toggle--1:checked ~ .price__list {
    transform: none;
  }

  .price__toggle--2:checked ~ .price__list {
    transform: none;
  }

  .price__toggle--3:checked ~ .price__list {
    transform: none;
  }

  .price__header {
    padding-top: 0;
    padding-bottom: 7px;

    &--mobile-hidden {
      display: block;
      border: none;
      background-color: transparent;
    }
  }

  .price__header--hit {
    &::before {
      content: url("../img/bg-hit-tablet.svg");
      left: 0;
    }

    &::after {
      top: 4px;
      left: 5px;
    }
  }

  .price__name {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 28px;
    text-transform: uppercase;
  }

  .price__value {
    font-size: 18px;
  }

  .price__cell {
    min-width: 155px;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;

    &--yes {
      font-size: 0;
      background-position: 50% 50%;
    }

    &--no {
      font-size: 0;
      background-position: 50% 50%;
    }

    &--mobile-hidden {
      display: table-cell;
    }
  }
}

/*--desktop mode--*/

@media (min-width: $desktop-width) {
  .price {
    padding-top: 152px;
    padding-bottom: 95px;
    background-position: 0% 0%;
  }

  .price__list {
    width: 940px;
  }

  .price__header {
    padding-bottom: 16px;
  }

  .price__header--hit {
    &::before {
      content: url("../img/bg-hit.svg");
    }

    &::after {
      top: 12px;
      left: 11px;
    }
  }

  .price__name {
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 30px;
  }

  .price__value {
    font-size: 24px;
    line-height: 30px;
  }

  .price__cell {
    min-width: 170px;
    padding-left: 21px;
    padding-top: 14px;
    padding-right: 0;
    padding-bottom: 15px;

    &--yes {
      font-size: 0;
      background-position: 51% 55%;
    }

    &--mobile-hidden {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
