.price {
  width: 320px;
  background-color: $secondary-bg-color;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 100px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.price__list {
  width: 840px;
  transform: translateX(-260px);
  text-transform: uppercase;
  border-collapse: collapse;
}

.price__top {
  background-color: $secondary-color;
}

.price__header {
  padding-bottom: 15px;
  color: $secondary-text-color;
  border: 2px solid $main-bg-color;
}

.price__name {
  margin-bottom: 5px;
  font-family: $font-open-sans-bold;
  font-size: 18px;
  line-height: 30px;
}

.price__value {
  font-family: $font-open-sans-light;
  font-size: 24px;
  line-height: 30px;
}

.price__bottom {
  background-color: $main-bg-color;
}

.price__cell {
  border: 2px solid #e5e5e5;
  padding: 15px 20px;
}
