.social {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.social__item {
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 3px solid $secondary-color;
  opacity: 0.1;
  border-radius: 50%;
  margin-right: 12px;

  &--tw {
    background-image: url("../img/icon-twitter.svg");
  }

  &--fb {
    background-image: url("../img/icon-facebook.svg");
  }

  &--yt {
    background-image: url("..//img/icon-youtube.svg");
    margin-right: 0;
  }

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
    outline: none;
  }

  &:active {
    opacity: 0.1;
    outline: none;
  }
}

/*--TABLET--*/

@media (min-width: $tablet-width) {
  .social {
    padding-top: 6px;
  }
}

/*--DESKTOP--*/

@media (min-width: $desktop-width) {
  .social {
    padding-top: 7px;
  }
}
