$main-color: #d22856;
$secondary-color: #283645;
$main-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$main-text-color: #283645;
$secondary-text-color: #ffffff;
$font-open-sans: "Open Sans", "Arial", sans-serif;
$btn-submin-color: #2aab6d;
$border-color: #e5e5e5;
$tablet-width: 660px;
$desktop-width: 960px;
